@charset "utf-8";

body{background-size:cover;}
a{font-size:14px;text-decoration:none;outline:0;}

.circle,.ring{height:256px;position:relative;width:256px;}
.circle{margin:100px auto 0 auto;}
.ring{background-color:rgba(0,0,0,0.5);border-radius:50%;opacity:0;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transform:scale(0.1) rotate(-270deg);-moz-transform:scale(0.1) rotate(-270deg);-transform:scale(0.1) rotate(-270deg);-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}
.open .ring{opacity:1;-webkit-transform:scale(1) rotate(0);-moz-transform:scale(1) rotate(0);-transform:scale(1) rotate(0);}
.center{background-color:rgba(255,255,255,0.3);border-radius:50%;border:2px solid #ffffff;bottom:0;color:white;height:80px;left:0;line-height:80px;margin:auto;position:absolute;right:0;text-align:center;top:0;width:80px;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}
.open .center{border-color:#aaaaaa;}
.menuItem{border-radius:50%;color:#eeeeee;display:block;height:40px;line-height:40px;margin-left:-20px;margin-top:-20px;position:absolute;text-align:center;width:40px;}

/**背景图管理**/
.bglist {padding: 15px 0 15px 0;width: 450px;margin: 0 auto;overflow: hidden;}
.bglist .item{width: 140px;height: 140px;float: left;margin:0 5px 10px 5px;position: relative;}
.bglist .item img{width: 140px;height: 140px;}
.bglist .item span{position: absolute;left: 0;bottom: 2px;width: 100%;background-color:rgba(255,0,0,0.5);height: 20px;line-height: 20px; text-align: center;color: #fff; }
.bglist .item a.choose{position: absolute;left: 0;bottom: 2px;width: 100%;background-color:rgba(0,172,172,0.5);height: 20px;line-height: 20px; text-align: center;color: #fff; }
